body {
    span {
        font-size: 2.5rem;
        font-weight: 600;
        color: #262626;
    }

    .speech {
        width: 7%;
        margin-left: 6px;
    }

    p {
        color: #84817B;
        font-weight: 600;
    }

    a {
        color: #84817B;
        font-weight: 600;
    }
}