.card-settings{
  box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Nunito Sans', sans-serif;
  color: #262626;

  .isDisable {
    background: white;
    color: #b4b4b4;
    border: 1px solid #b4b4b4;
  }

  .notDisable {
    background: var(--button);
    color: white;
    border: 1px solid var(--button);
  }

  h1 {
    font-size: 28px;
    font-weight: 400;
  }

  hr {
    background: #E7E7E7;
    height: 2px;
  }

  span {
    color: var(--button);
    cursor: pointer;

    transition: filter 0.2s;

    &:hover {
        filter: brightness(0.7);
    }
  }

  .profile-button {
    transition: filter 0.2s;

    &:hover {
        filter: brightness(0.9);
    }
  }
}